@use "/src/utils/styles/screen.scss";
@use "/src/utils/styles/colors.scss";

.section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: colors.$slate-100;
  @include screen.breakpoint-lg {
    height: 100vh;
  }
  .sectionImage {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.5;
    @include screen.breakpoint-lg {
      opacity: 1;
    }
  }
  .content {
    @include screen.main;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    padding-top: 50px;
    box-sizing: border-box;
    z-index: 1;
    width: 100%;
    margin-top: 100px;
    @include screen.breakpoint-sm {
      padding: 40px;
    }
    @include screen.breakpoint-lg {
      flex-direction: row;
      margin-top: 0;
    }
    .contentSection {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      .text {
        font-size: 40px;
        font-weight: 700;
        color: colors.$slate-900;
        margin: 0;
        line-height: 1;
        z-index: 2;
        > span {
          font-weight: 400;
          font-size: 35px;
        }
        @include screen.breakpoint-lg {
          font-size: 40px;
          > span {
            font-weight: 400;
            font-size: 40px;
          }
        }
      }
      .description {
        font-size: 16px;
        color: colors.$slate-700;
        line-height: 1.7;
        margin: 0;
        margin-top: 20px;
        z-index: 2;
        @include screen.breakpoint-lg {
          font-size: 18px;
          max-width: 50%;
        }
      }
      .buttonWrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin-top: 40px;
        z-index: 2;
      }
    }
  }
}
.section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: colors.$slate-100;
  .sectionImage {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    @include screen.breakpoint-lg {
      opacity: 1;
    }
  }
  .content {
    @include screen.main;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    padding-top: 50px;
    box-sizing: border-box;
    z-index: 1;
    width: 100%;
    @include screen.breakpoint-sm {
      padding: 40px;
    }
    .contentSection {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      @include screen.breakpoint-lg {
        width: 50%;
      }
      .description {
        font-size: 20px;
        color: colors.$slate-700;
        line-height: 1.7;
        margin: 0;
        margin-top: 20px;
        text-align: center;
        z-index: 2;
        @include screen.breakpoint-lg {
          font-size: 25px;
        }
      }
    }
  }
}
