@use "/src/utils/styles/colors.scss";
@use "/src/utils/styles/screen.scss";

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  .stayUpdate {
    display: flex;
    justify-content: center;
    background-color: colors.$slate-500;
    padding: 80px 40px;
    > div {
      @include screen.main;
      gap: 40px;
      display: flex;
      flex-direction: column;
      @include screen.breakpoint-md {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
      .textWrapper {
        display: flex;
        flex-direction: column;
        gap: 40px;
        .title {
          font-size: 42px;
          font-weight: 700;
          font-family: var(--font-open-sans);
          margin: 0;
          color: #fff;
        }
        .description {
          font-size: 17px;
          margin: 0;
          line-height: 1.8;
          color: #fff;
        }
      }
      .inputWrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
    }
  }
  .content {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: colors.$slate-700;
    > div {
      @include screen.main;
      display: flex;
      flex-direction: column;
      padding: 80px 40px;
      box-sizing: border-box;
      gap: 40px;
      @include screen.breakpoint-xl {
        flex-direction: row;
      }
      .contentLeft {
        display: flex;
        flex-direction: column;
        gap: 20px;
        min-width: 450px;
        width: 450px;
        .text {
          font-size: 16px;
          line-height: 1.8;
          color: #fff;
        }
      }
      .contentRight {
        display: flex;
        flex-direction: column;
        gap: 50px;
        width: 100%;
        @include screen.breakpoint-md {
          flex-direction: row;
          gap: 20px;
        }
      }
    }
  }
  .info {
    display: flex;
    justify-content: center;
    height: 70px;
    background-color: colors.$slate-900;
    > div {
      @include screen.main;
      display: flex;
      align-items: center;
      justify-content: space-between;
      > p:nth-child(1) {
        font-size: 16px;
        color: #fff;
      }
      .links {
        display: flex;
        gap: 30px;
        align-items: center;
        .linkItem {
          cursor: pointer;
          > svg {
            width: 20px;
            height: 20px;
            color: #fff;
          }
        }
      }
    }
  }
}

.menuList {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  .title {
    font-family: var(--font-open-sans);
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    margin: 0;
    text-align: start;
    @include screen.breakpoint-md {
      text-align: end;
    }
  }
  > ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 15px;
    margin: 0;
    padding: 0;
    > li {
      font-size: 16px;
      color: #fff;
      line-height: 1.6;
      cursor: pointer;
      text-align: start;
      @include screen.breakpoint-md {
        text-align: end;
      }
      &:hover {
        color: colors.$sky-500;
      }
      transition: 0.1s color ease-in-out;
    }
  }
}
