@use "/src/utils/styles/screen.scss";
@use "/src/utils/styles/colors.scss";

.section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  background-color: colors.$slate-100;
  @include screen.breakpoint-lg {
    height: 100vh;
  }
  .sectionImage {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
  .content {
    @include screen.main;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    padding-top: 50px;
    box-sizing: border-box;
    z-index: 1;
    width: 100%;
    margin-top: 100px;
    gap: 40px;
    @include screen.breakpoint-sm {
      padding: 40px;
    }
    @include screen.breakpoint-lg {
      flex-direction: row;
      margin-top: 0;
    }
    .contentSection {
      display: flex;
      flex-direction: column;
      width: auto;
      justify-content: center;
      @include screen.breakpoint-lg {
        width: 50%;
      }
      .text {
        font-size: 40px;
        font-weight: 700;
        color: colors.$slate-900;
        margin: 0;
        line-height: 1;
        z-index: 2;
        > span {
          font-weight: 400;
          font-size: 35px;
        }
        @include screen.breakpoint-lg {
          font-size: 60px;
          > span {
            font-weight: 400;
            font-size: 40px;
          }
        }
      }
      .description {
        font-size: 16px;
        color: colors.$slate-700;
        line-height: 1.7;
        margin: 0;
        margin-top: 20px;
        z-index: 2;
        @include screen.breakpoint-lg {
          font-size: 18px;
        }
      }
      .buttonWrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin-top: 40px;
        z-index: 2;
      }
    }
    .illustration {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      @include screen.breakpoint-lg {
        width: 50%;
      }
      > div {
        position: relative;
        width: 100%;
        max-width: 500px;
        @include screen.breakpoint-lg {
          max-width: unset;
        }
      }
    }
  }
}
.section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  justify-content: center;
  .section2Image {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.5;
    @include screen.breakpoint-lg {
      opacity: 1;
    }
  }
  .content {
    @include screen.main;
    height: 100%;
    min-height: 842px;
    display: flex;
    flex-direction: column-reverse;
    gap: 40px;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    @include screen.breakpoint-sm {
      padding: 40px;
    }
    .contentSection {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
      height: 570px;
      padding: 20px;
      box-sizing: border-box;
      z-index: 1;
      @include screen.breakpoint-xl {
        max-width: 50%;
      }
      .title {
        font-family: var(--font-open-sans);
        font-size: 30px;
        font-weight: 700;
        margin: 0;
        text-align: start;
        color: colors.$slate-900;
        @include screen.breakpoint-sm {
          font-size: 42px;
        }
      }
      .description {
        font-size: 15px;
        margin: 0;
        margin-top: 20px;
        line-height: 1.8;
        color: colors.$slate-800;
        @include screen.breakpoint-sm {
          font-size: 17px;
        }
      }
    }
  }
}
.section3 {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  justify-content: center;
  .sectionImage {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
  .content {
    @include screen.main;
    height: 100%;
    min-height: 842px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    @include screen.breakpoint-sm {
      padding: 40px;
    }
    .contentSection {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
      padding: 20px;
      box-sizing: border-box;
      z-index: 1;
      @include screen.breakpoint-xl {
        max-width: 65%;
      }
      .title {
        font-family: var(--font-open-sans);
        font-size: 30px;
        font-weight: 700;
        margin: 0;
        text-align: start;
        color: colors.$slate-900;
        @include screen.breakpoint-sm {
          font-size: 42px;
        }
      }
      .description {
        font-size: 15px;
        margin: 0;
        margin-top: 20px;
        line-height: 1.8;
        color: colors.$slate-800;
        @include screen.breakpoint-sm {
          font-size: 17px;
        }
      }
      .button {
        margin-top: 20px;
      }
    }
  }
}
.section4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: auto;
  background-color: colors.$slate-100;
  @include screen.breakpoint-lg {
    height: 100vh;
  }
  .sectionImage {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
  .content {
    @include screen.main;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    padding-top: 50px;
    box-sizing: border-box;
    z-index: 1;
    width: 100%;
    gap: 40px;
    @include screen.breakpoint-sm {
      padding: 40px;
    }
    @include screen.breakpoint-lg {
      flex-direction: row;
    }
    .contentSection {
      display: flex;
      flex-direction: column;
      width: auto;
      justify-content: center;
      @include screen.breakpoint-lg {
        width: 50%;
      }
      .text {
        font-size: 20px;
        font-weight: 700;
        color: colors.$slate-900;
        margin: 0;
        line-height: 1.2;
        z-index: 2;
        > span {
          font-weight: 400;
          font-size: 25px;
        }
        @include screen.breakpoint-lg {
          font-size: 35px;
          > span {
            font-weight: 400;
            font-size: 30px;
          }
        }
      }
      .description {
        font-size: 16px;
        color: colors.$slate-700;
        line-height: 1.7;
        margin: 0;
        margin-top: 20px;
        z-index: 2;
        @include screen.breakpoint-lg {
          font-size: 18px;
        }
      }
      .whyList {
        display: flex;
        flex-direction: column;
        list-style: none;
        margin: 0;
        padding: 0;
        gap: 15px;
        margin-top: 20px;
        .whyListItem {
          display: flex;
          align-items: center;
          gap: 10px;
          font-size: 20px;
          font-weight: 400;
          color: colors.$slate-900;
          margin: 0;
          .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: colors.$sky-500;
            border-radius: 100%;
            min-width: 30px;
            width: 30px;
            height: 30px;
            min-height: 30px;
            > svg {
              color: #fff;
            }
          }
        }
      }
    }
    .illustration {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      @include screen.breakpoint-lg {
        width: 50%;
      }
      > div {
        position: relative;
        width: 100%;
        max-width: 500px;
        @include screen.breakpoint-lg {
          max-width: unset;
        }
      }
    }
  }
}
.section5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  background-color: #fff;
  @include screen.breakpoint-lg {
    height: 100vh;
  }
  .sectionImage {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
  .content {
    @include screen.main;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    padding-top: 50px;
    box-sizing: border-box;
    z-index: 1;
    width: 100%;
    align-items: center;
    gap: 20px;
    @include screen.breakpoint-sm {
      padding: 40px;
    }
    .contentSection {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .text {
        font-size: 20px;
        font-weight: 700;
        color: colors.$slate-900;
        margin: 0;
        text-align: center;
        line-height: 1.2;
        z-index: 2;
        > span {
          font-weight: 400;
          font-size: 25px;
        }
        @include screen.breakpoint-lg {
          font-size: 35px;
          > span {
            font-weight: 400;
            font-size: 30px;
          }
        }
      }
      .description {
        font-size: 16px;
        text-align: center;
        color: colors.$slate-700;
        line-height: 1.7;
        margin: 0;
        margin-top: 20px;
        z-index: 2;
        @include screen.breakpoint-lg {
          font-size: 18px;
        }
      }
    }
    .partnership {
      display: flex;
      flex-wrap: wrap;
      gap: 40px;
      height: fit-content;
      align-items: center;
      justify-content: center;
    }
  }
}
