@use "/src/utils/styles/screen.scss";
@use "/src/utils/styles/colors.scss";

@mixin section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100vh;
  .sectionImage {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
  .content {
    @include screen.main;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 0 40px;
    box-sizing: border-box;
    z-index: 1;
    width: 100%;
    gap: 40px;
    .contentSection {
      display: flex;
      flex-direction: column;
      width: 55%;
      justify-content: center;
      gap: 20px;
      .text {
        font-size: 40px;
        font-weight: 700;
        color: colors.$slate-900;
        margin: 0;
        line-height: 1;
        z-index: 2;
        > span {
          font-weight: 400;
          font-size: 35px;
        }
        @include screen.breakpoint-lg {
          font-size: 40px;
          > span {
            font-weight: 400;
            font-size: 40px;
          }
        }
      }
      .description {
        font-size: 16px;
        color: colors.$slate-700;
        line-height: 1.7;
        text-align: justify;
        margin: 0;
        margin-top: 20px;
        z-index: 2;
        @include screen.breakpoint-lg {
          font-size: 18px;
        }
      }
    }
    .illustration {
      width: 45%;
      display: flex;
      align-items: center;
      > div {
        position: relative;
        width: 100%;
      }
    }
  }
}

.section1 {
  @include section;
  background-color: #fff;
}
.section2 {
  @include section;
  background-color: colors.$slate-100;
}
.section3 {
  @include section;
  background-color: #fff;
  .content {
    flex-direction: row-reverse;
    .contentSection {
      .text {
        text-align: end;
      }
    }
  }
}
.section4 {
  @include section;
  background-color: colors.$slate-100;
  .content {
    flex-direction: row-reverse;
    .contentSection {
      .text {
        text-align: end;
      }
    }
  }
}
.section5 {
  @include section;
  background-color: #fff;
  .content {
    flex-direction: row-reverse;
    .contentSection {
      .text {
        text-align: end;
      }
    }
  }
}
