@use "/src/utils/styles/screen.scss";
@use "/src/utils/styles/colors.scss";

.section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  background-color: colors.$slate-100;
  @include screen.breakpoint-lg {
    height: 100vh;
  }
  .sectionImage {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
  .content {
    @include screen.main;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    z-index: 1;
    width: 100%;
    margin-top: 100px;
    @include screen.breakpoint-sm {
      padding: 40px;
    }
    @include screen.breakpoint-lg {
      flex-direction: row;
      margin-top: 0;
    }
    .contentSection {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      height: 100%;
      .text {
        font-size: 30px;
        font-weight: 700;
        color: colors.$slate-900;
        margin: 0;
        line-height: 1;
        z-index: 2;
        @include screen.breakpoint-lg {
          font-size: 40px;
          > span {
            font-weight: 400;
            font-size: 40px;
          }
        }
      }
      .description {
        font-size: 16px;
        color: colors.$slate-700;
        line-height: 1.7;
        margin: 0;
        margin-top: 20px;
        z-index: 2;
        @include screen.breakpoint-lg {
          font-size: 18px;
          max-width: 50%;
        }
      }
      .buttonWrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin-top: 40px;
        z-index: 2;
      }
    }
  }
}
.section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: colors.$slate-100;
  .content {
    @include screen.main;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    padding-top: 50px;
    box-sizing: border-box;
    z-index: 1;
    gap: 40px;
    width: 100%;
    @include screen.breakpoint-sm {
      padding: 40px;
    }
    @include screen.breakpoint-lg {
      flex-direction: row;
    }
    .contentSection {
      display: flex;
      flex-direction: column;
      justify-content: center;
      @include screen.breakpoint-lg {
        width: 50%;
      }
      .text {
        font-size: 20px;
        font-weight: 700;
        color: colors.$slate-900;
        margin: 0;
        line-height: 1.2;
        z-index: 2;
        > span {
          font-weight: 400;
          font-size: 25px;
        }
        @include screen.breakpoint-lg {
          font-size: 35px;
          > span {
            font-weight: 400;
            font-size: 30px;
          }
        }
      }
      .description {
        font-size: 16px;
        color: colors.$slate-700;
        line-height: 1.7;
        margin: 0;
        margin-top: 20px;
        z-index: 2;
        @include screen.breakpoint-lg {
          font-size: 18px;
        }
      }
      .whyList {
        display: flex;
        flex-direction: column;
        list-style: none;
        margin: 0;
        padding: 0;
        gap: 15px;
        margin-top: 20px;
        .whyListItem {
          display: flex;
          align-items: center;
          gap: 10px;
          font-size: 20px;
          font-weight: 400;
          color: colors.$slate-900;
          margin: 0;
          .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: colors.$sky-500;
            border-radius: 100%;
            min-width: 30px;
            width: 30px;
            height: 30px;
            min-height: 30px;
            > svg {
              color: #fff;
            }
          }
        }
      }
    }
    .illustration {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      @include screen.breakpoint-lg {
        width: 50%;
      }
      > div {
        position: relative;
        width: 100%;
        max-width: 500px;
        @include screen.breakpoint-lg {
          max-width: unset;
        }
      }
    }
  }
}
.section3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: colors.$slate-100;
  .sectionImage {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
  .content {
    @include screen.main;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
    padding-top: 50px;
    box-sizing: border-box;
    z-index: 1;
    width: 100%;
    @include screen.breakpoint-sm {
      padding: 40px;
    }
    @include screen.breakpoint-md {
      justify-content: flex-end;
    }
    .contentSection {
      display: flex;
      flex-direction: column;
      justify-content: center;
      @include screen.breakpoint-md {
        width: 50%;
      }
      .text {
        font-size: 30px;
        font-weight: 700;
        color: colors.$slate-900;
        margin: 0;
        line-height: 1;
        z-index: 2;
        > span {
          font-weight: 400;
          font-size: 35px;
        }
        @include screen.breakpoint-lg {
          font-size: 40px;
          > span {
            font-weight: 400;
            font-size: 40px;
          }
        }
      }
      .description {
        font-size: 16px;
        color: colors.$slate-700;
        line-height: 1.7;
        margin: 0;
        margin-top: 20px;
        z-index: 2;
        @include screen.breakpoint-lg {
          font-size: 18px;
        }
      }
      .form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;
      }
      .buttonWrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin-top: 10px;
        z-index: 2;
      }
    }
  }
}
